@model NewProductViewModel
@{
	ViewBag.Title = "Create";
}

<h2>Create Product</h2>

<form id="createProduct">
	<div class="form-group">
		<label>Category</label>
		<select class="form-control" name="CategoryID">
			@foreach (var category in Model.AvailableCategories)
			{
				<option value="@category.ID">@category.Name</option>
			}
		</select>
	</div>
	<div class="form-group">
		<label>Name</label>
		<input class="form-control" name="Name" />
	</div>
	<div class="form-group">
		<label>Description</label>
		<input class="form-control" name="Description" />
	</div>
	<div class="form-group">
		<label>Price</label>
		<input class="form-control" name="Price" />
	</div>
	<button id="saveBtn" type="button" class="btn btn-primary">Save</button>
</form>

<script>
	$("#saveBtn").click(function () {
		$.ajax({
			type: 'POST',
			url: '@Url.Action("Create", "Product")',
			data: $("#createProduct").serialize()
		})
        .done(function (response) {
        	$("#tableContiner").html(response);
        	$("#actionContainer").html("");

        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
</script>