@model CheckoutViewModel

@if(Model != null)
{
	if(Model.CartProducts != null && Model.CartProducts.Count > 0)
	{
		<div>
			@foreach (var product in Model.CartProducts)
			{
				var productQuantity = Model.CartProductIDs.Where(productID => productID == product.ID).Count();
				
				<div>
					Name: @product.Name - Price: @product.Price - Quantity: @productQuantity Total Price: @(product.Price * productQuantity)
				</div>
			}
		</div>

		<div>
			Total Bill : @Model.CartProducts.Sum(x=> x.Price * Model.CartProductIDs.Where(productID => productID == x.ID).Count())		
		</div>
	}
	else
	{
		<div>
			No Products in Cart.
		</div>
	}
}
