@model FilterProductsViewModel

@{ 

	var defaultImageURL = "/Content/images/system/placeholder-image.png";
}

<div class="product-content product-threecolumn product-slidebar clearfix">
	<ul class="product style2 sd1">

		@foreach (var product in Model.Products)
		{
			var imageURL = string.IsNullOrEmpty(product.ImageURL) ? defaultImageURL : product.ImageURL;

			<li class="product-item">
				<div class="product-thumb clearfix">
					<a href="#">
						<img src="@imageURL" alt="image">
					</a>
				</div>
				<div class="product-info clearfix">
					<span class="product-title">
						@product.Name
					</span>
					<div class="price">
						<ins>
							<span class="amount">$ @product.Price</span>
						</ins>
					</div>
				</div>
				<div class="add-to-cart text-center">
					<a href="#">ADD TO CART</a>
				</div>
				<a href="#" class="like"><i class="fa fa-heart-o"></i></a>
			</li>
		}
	</ul><!-- /.product -->
</div><!-- /.product-content -->
<div class="product-pagination text-center clearfix">
	<ul class="flat-pagination">
		<li class="prev">
			<a href="#"><i class="fa fa-angle-left"></i></a>
		</li>
		<li><a href="#">1</a></li>
		<li class="active"><a href="#" title="">2</a></li>
		<li><a href="#">3</a></li>
		<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
	</ul><!-- /.flat-pagination -->
</div>
